<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Univer Sheets Demo</title>
    <link rel="stylesheet" href="/node_modules/@univerjs/sheets-ui/lib/index.css" />
    <style>
        html, body, #univer-container {
            height: 100%;
            margin: 0;
        }
    </style>
</head>
<body>
    <div id="univer-container"></div>
    <script type="module">
        import { Univer, UniverInstanceType } from '/node_modules/@univerjs/core/lib/index.js';
        import { UniverRenderEnginePlugin } from '/node_modules/@univerjs/engine-render/lib/index.js';
        import { UniverUIPlugin } from '/node_modules/@univerjs/ui/lib/index.js';
        import { UniverSheetsPlugin } from '/node_modules/@univerjs/sheets/lib/index.js';
        import { UniverSheetsUIPlugin } from '/node_modules/@univerjs/sheets-ui/lib/index.js';

        const univer = new Univer({ locale: 'en' });
        univer.installPlugin(new UniverRenderEnginePlugin());
        univer.installPlugin(new UniverUIPlugin({ container: 'univer-container' }));
        univer.installPlugin(new UniverSheetsPlugin());
        univer.installPlugin(new UniverSheetsUIPlugin());
        univer.createUnit(UniverInstanceType.UNIVER_SHEET);
    </script>
</body>
</html>
